@media only screen and (min-width:55dvw){
    @keyframes G1A {
        0%{opacity: 0%;}
        30%{opacity: 1%;}
        100%{opacity: 100%;}
    }
    body {
        background-color: #bcf7fc;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        background-image: url(Bimage.jpg);
        background-repeat:repeat-y;
        background-size: cover;
        transition: all 2s;
        animation: G1A 2s ;
        font-size: 14px;
    }
    .cv {
        width: 100%;
        height: 50vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

    }
    .squar {
        transition-duration: 2s;
        position:relative;
        width: 80%;
        height:fit-content;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.966);
        border: 1px dashed #ffffff3a;
        background-color:rgb(207, 207, 207);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        text-align: justify;
        overflow: visible;
    }
    .circle {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 2% ;
        border-radius: 100%;
        animation: float 4s infinite;
        position: relative;
    }
    
    .circle img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .info {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        margin: 2%;
    }
 h2{
    align-self: flex-start;
 }
    .cv2{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: relative;
        margin: 2dvw ;
        padding:2dvw;
    }
    .container {
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        width: 80%;
        height: fit-content;
        backdrop-filter: blue(10px);
        color: rgb(255, 255, 255);
        margin: auto;
        position: relative;
        font-size:1em ;
        overflow: hidden;
    }
    .table {
        display: none;
        border-collapse: collapse;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .table th, .table td {
        border: none;
        padding: 10px;
        text-align: left;
    }
    button{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border: none;
        color: white;
    }
    
    #longText {
        max-height: 200px; /* Set a maximum height for the paragraph */
        overflow: hidden;
      }
      
      #longText.expanded {
        max-height: none; /* Remove the maximum height when expanded */
      }
      
        
    /* Style the dropdown button and content */
}

/*Animation*/

/*.squar{
    border: none;
    color: #ffffff;
  }
.squar:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 1s ease;
  }
.squar:hover {
    color: #000;
  }
.squar:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
.squar:active {
    top: 2px;
  }*/
.squar , .container {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgb(78, 49, 126) 0%, rgb(107, 99, 139)100%);
      color: #fff;
      overflow: hidden;
  }
.squar:before , .container::before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 5s ease-in-out infinite;
  }
.squar:hover , .container:hover{
    color: rgb(0, 217, 255);
  }
.squar:active , .container:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
@-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  } 

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

@media only screen and (min-width:90dvh){   
   body {
        background-color: #d3fdff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        margin: 0;
        font-size: 16px;
    }
    
    .cv {
        position: relative;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .squar {
        transition-duration: 1s;
        position:relative;
        height:fit-content;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.575);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        z-index: 1;
        font-size:16px;
    }
    
    .circle {
        transition-duration: 1s;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        animation: float 6s infinite;
    }
    
    .circle img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .info {
        width: 65%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2vh;
    }
    h2{
        align-self: flex-start;
    }
    .cv2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 50%;
    }
    .container {
        position: relative;
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        width: 80%;
        height: fit-content;
        background-color: #000000a4;
    }

    .table {
        display: none;
        border-collapse: collapse;
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }

    .table th, .table td {
        border: none;
        padding: 10px;
        text-align: left;
    }
 
    .cv button{
        display: none;
        flex-direction: row;
        background-color: transparent;
        border: none;
    }
    
    #longText {
        max-height: 100%; /* Set a maximum height for the paragraph */
        overflow: hidden;
      }
      
      #longText.expanded {
        max-height: none; /* Remove the maximum height when expanded */
      }

}

img{
    padding: 0 20px 0 20px;
}